# Copy to .env and edit
BASE_URL=https://cwe.crashedmind.com
WS_URL=wss://cwe.crashedmind.com/ws
ACTION_TEXT=Ask a Question

# Optional, only if you have a test login page flow you can script
OAUTH_EMAIL=
OAUTH_PASS=
